@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  --black: rgba(0, 0, 0, 0.911);
  --white: rgb(255, 250, 250);
  --very-dark-gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
  --error: rgba(255, 0, 0, 0.842);
  --font-family: "Rubik", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 18px;
  /* Set core root defaults */
}

html:focus-within {
  scroll-behavior: smooth;
}

/**
* Make all elements from the DOM inherit from the parent box-sizing
* Since `*` has a specificity of 0, it does not override the `html` value
* making all elements inheriting from the root box-sizing value
* See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: var(--font-family);
  font-size: 100%;
}

body {
  min-height: 100vh;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
input,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Remove all animations, transitions, and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

main > h1 {
  text-align: center;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 25px 0;
}

.input-block {
  height: 65px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
}

.input-block span {
  display: inline-block;
  position: absolute;
  bottom: 2px;
  left: 20px;
  color: var(--error);
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  font-size: 0.7rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-block .message-error {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  opacity: 1 !important;
}

.input-block:hover {
  cursor: pointer;
}

.input-block input {
  color: var(--very-dark-gray);
  margin-left: 20px;
  width: 70%;
  background-color: var(--white);
  border: 0;
}

.input-block button {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  background: var(--black) url("../../images/icon-arrow.svg") center no-repeat;
  width: 15%;
  max-width: 80px;
  height: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 0;
}

.input-block button:hover {
  cursor: pointer;
  background-color: var(--dark-gray);
}

.input-block-error {
  outline: 3px solid var(--error);
  outline-offset: 5px;
  -webkit-animation: shakeContainer 1s ease 0s 1 normal forwards;
          animation: shakeContainer 1s ease 0s 1 normal forwards;
}

@-webkit-keyframes shakeContainer {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes shakeContainer {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

.data-display-block {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 1px 15px var(--dark-gray);
          box-shadow: 0px 1px 15px var(--dark-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 10px;
  position: relative;
}

.data-display-block .data-result h3 {
  color: var(--dark-gray);
  font-weight: 700;
  font-size: 0.65rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}

.data-display-block .data-result p {
  text-align: center;
  color: var(--black);
  font-weight: 500;
  font-size: 1.3rem;
}

.bg {
  background: url("../../images/pattern-bg.png") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  z-index: 1;
}

#map {
  position: absolute;
  top: 300px;
  width: 100%;
  height: calc(100vh - 300px);
  z-index: 1;
}

@media screen and (max-width: 350px) {
  #map {
    height: calc(130vh - 300px);
  }
}

@media screen and (min-width: 1200px) {
  .data-display-block {
    margin-top: 50px;
    padding: 60px 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 25px;
  }
  .data-display-block .data-result h3 {
    font-size: 0.8rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
  }
  .data-display-block .data-result p {
    text-align: left;
    font-size: 1.5rem;
  }
  .data-display-block .divider {
    width: 0.5px;
    height: 100px;
    background-color: var(--dark-gray);
  }
}
