:root {
	--black: rgba(0, 0, 0, 0.911);
	--white: rgb(255, 250, 250);
	--very-dark-gray: hsl(0, 0%, 17%);
	--dark-gray: hsl(0, 0%, 59%);
	--error: rgba(255, 0, 0, 0.842);
	--font-family: "Rubik", sans-serif; // 400, 500, 700
}
